body {
  background-color: #fff;
}

.navbar-brand img {
  max-width: 100px;
}

#topbar {
  padding: 10px 20px 0 20px;
}

#topbar .row.topbar-info {
  padding: 0 40px;
}

#navbarYGMenu {
  height: 50px;
}

.navbar > .container, .navbar > .container-fluid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: left;
}

#menu.navbar.navbar-expand-lg #block-ygcarkameni-main-menu ul.navbar-nav {
  background-color: rgb(0, 39, 69);
}
#menu.navbar.navbar-expand-lg.sticky #block-ygcarkameni-main-menu ul.navbar-nav {
  background-color: #fff;
}
#menu.navbar.navbar-expand-lg #block-ygcarkameni-main-menu ul.navbar-nav li a {
  line-height: 20px;
}
#menu.navbar.navbar-expand-lg.sticky #block-ygcarkameni-main-menu ul.navbar-nav li a {
  line-height: 20px;
}

ol.flex-control-nav {
  width: 100%;
  position: absolute;
  top: 20px;
  text-align: center;
  z-index: 10;
}

.flex-control-paging li a.flex-active {
  background-color: rgb(0, 39, 69);
}

a.flex-next, a.flex-prev {
  height: 60px;
}

.flexslider {
  margin: 0;
}

#block-ygcarkameni-content ul.pagination {
  padding: 0;
}

#block-ygcarkameni-content .node--type-gallery .field--name-field-images.field--type-image.field__items {
  display: flex;
  /*flex-direction: row;*/
  flex-wrap: wrap;
}
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 480px) {
  #block-ygcarkameni-content .node--type-gallery .field--name-field-images.field--type-image.field__items {
    flex-direction: column;
    align-items: center;
  }
  #block-ygcarkameni-content .node--type-gallery .field--name-field-images.field--type-image.field__items > div.field__item img {
    width: auto !important;
  }
}

#block-ygcarkameni-content .node--type-gallery .field--name-field-images {
  justify-content: center;
}

@media (max-width: 768px) {
  #block-ygcarkameni-content .node--type-gallery .field--name-field-images.field--type-image.field__items > div.field__item {
    width: 15%;
  }
  #block-ygcarkameni-content .node--type-gallery .field--name-field-images.field--type-image.field__items > div.field__item img {
    margin: 20%;
  }

.views-view-grid .gallery-list-row .gallery-list-col img {
  max-height: 240px;
}
}
#block-ygcarkameni-content .node--type-gallery .field--name-field-images.field--type-image.field__items > div.field__item {
  margin: 5px;
  padding: 5px;
  display: flex;
  width: 20%;
  justify-content: center;
}
#block-ygcarkameni-content .node--type-gallery .field--name-field-images.field--type-image.field__items > div.field__item img {
  border: 2px solid #032742;
  border-radius: 10px 4px;
  width: 100%;
}
#block-ygcarkameni-content .node--type-gallery .field--name-field-images.field--type-image.field__items > div.field__item img:hover {
  padding: 2px;
}

#block-ygcarkameni-content .node--type-gallery .node__content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

#block-ygcarkameni-content .node--type-gallery .node__content > *:first-child {
  margin: 50px auto auto auto;
  /*padding: 5px;*/
  text-align: center;
  max-width: 33%;
}
#block-ygcarkameni-content .node--type-gallery .node__content > *:first-child.field__item img {
  border: 2px solid #032742;
  border-radius: 10px 4px;
  width: 100%;
}
#block-ygcarkameni-content .node--type-gallery .node__content > *:first-child.field__item img:hover {
  padding: 2px;
}

#block-ygcarkameni-content .node--type-gallery .node__content > *:nth-child(2) {
  margin: 50px auto 0 0;
  padding: 30px 50px 30px 0;
  text-align: center;
  max-width: 66%;
  justify-content: center;
  display: flex;
  align-content: center;
  align-items: center;
}
#block-ygcarkameni-content .node--type-gallery .node__content > *:last-child {
  width: 100%;
}

#contact-message-feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset#edit-confirmation {
  max-width: 480px;
}
fieldset#edit-confirmation .fieldset-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.views-view-grid .gallery-list-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.views-view-grid .gallery-list-row .gallery-list-col {
  margin: 5px;
  padding: 5px;
  display: flex;
  max-width: 100%;
  justify-content: center;
  flex-direction: column;
  flex: auto;
}
.views-view-grid .gallery-list-row .gallery-list-col img {
  border: 2px solid #032742;
  border-radius: 10px 4px;
  width: 100%;
  height: 480px;
}
.views-view-grid .gallery-list-row .gallery-list-col img:hover {
  padding: 2px;
}
