body {
  background-color: #fff;
}

.navbar-brand img {
  max-width: 100px;
}

#topbar {
  padding: 10px 20px 0 20px;
}

#topbar .row.topbar-info {
  padding: 0 40px;
}

#navbarYGMenu {
  height: 50px;
}

.navbar > .container, .navbar > .container-fluid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: left;
}

#menu.navbar.navbar-expand-lg #block-ygcarkameni-main-menu ul.navbar-nav {
  background-color: rgb(0, 39, 69);
}
#menu.navbar.navbar-expand-lg.sticky #block-ygcarkameni-main-menu ul.navbar-nav {
  background-color: #fff;
}
#menu.navbar.navbar-expand-lg #block-ygcarkameni-main-menu ul.navbar-nav li a {
  line-height: 20px;
}
#menu.navbar.navbar-expand-lg.sticky #block-ygcarkameni-main-menu ul.navbar-nav li a {
  line-height: 20px;
}

ol.flex-control-nav {
  width: 100%;
  position: absolute;
  top: 20px;
  text-align: center;
  z-index: 10;
}

.flex-control-paging li a.flex-active {
  background-color: rgb(0, 39, 69);
}

a.flex-next, a.flex-prev {
  height: 60px;
}

.flexslider {
  margin: 0;
}

#block-ygcarkameni-content ul.pagination {
  padding: 0;
}

#block-ygcarkameni-content .node--type-gallery .field--name-field-images.field--type-image {
  display: flex;
  /*flex-direction: row;*/
  flex-wrap: wrap;
}
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 480px) {
  #block-ygcarkameni-content .node--type-gallery .field--name-field-images.field--type-image {
    flex-direction: column;
    align-items: center;
  }
}
#block-ygcarkameni-content .node--type-gallery .field--name-field-images.field--type-image > div.field__item {
  margin: 5px;
  padding: 5px;
  flex: 20%;
}

#contact-message-feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset#edit-confirmation {
  max-width: 480px;
}
fieldset#edit-confirmation .fieldset-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*

#block-ygcarkameni-content .node__content > *:first-child {
  margin: 50px 50px 0 50px;
  float: left;
}
#block-ygcarkameni-content .node__content > *:nth-child(2) {
  margin: 50px 50px 0 50px;
  padding: 50px;
  text-align: center;
}
*/

